[submodule "MiniEngine/vendor/spdlog"]
	path = MiniEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "MiniEngine/vendor/GLFW"]
	path = MiniEngine/vendor/GLFW
	url = https://github.com/TheCherno/glfw